.boat{
    background-image: url('../Images/032-ship.svg') ;
    background-size:100% 100%;
}

.treasure{
    background-image: url('../Images/040-treasure.svg') ;
    background-size:100% 100%;
    background-color: green !important;
}

.etreasure{
    background-image: url('../Images/040-treasure.svg') ;
    background-size:100% 100%;
    background-color: yellow !important;
}


.inrange{
    /* background-color: darkblue !important; */
    opacity: 0.9;
}

.inrange:hover{
        background-color :darkblue !important;
}


.kraken{
    background-image: url('../Images/021-kraken.svg') ;
    background-size:100% 100%;
    background-color: red !important;
}


.rum{
    background-image: url('../Images/005-rum.svg') ;
    background-size:100% 100%;
    background-color: red !important;
}

