.boat{
    background-image: url('../Images/032-ship.svg') ;
    background-size:100% 100%;
}

.treasure{
    background-image: url('../Images/040-treasure.svg') ;
    background-size:100% 100%;
}

.inrange{
    background-color: grey !important;

}

.inrange:hover{
        background-color :red !important;
}